@use "fonts";
@use "functions" as f;
@use "variables" as v;
@use "sass:meta";
@use "sass:map";
@use "sass:color";

@layer base {
  :root {
    @each $name, $value in v.$colors {
      --#{$name}: #{$value};
      @if (color.channel($value, "lightness", $space: hsl) > 50%) {
        --#{$name}-hover: #{color.scale($value, $lightness: -10%)};
      } @else {
        --#{$name}-hover: #{color.scale($value, $lightness: 10%)};
      }
    }

    @each $name, $color in v.$agnostic {
      @if (meta.type-of($color) == string) {
        --#{$name}: var(--#{$color});
        --#{$name}-hover: var(--#{$color}-hover);
      } @else if(meta.type-of($color) == map) {
        --#{$name}: var(--#{map.get($color, light)});
      }
    }

    @media (prefers-color-scheme: dark) {
      @each $name, $color in v.$agnostic {
        @if (meta.type-of($color) == map) {
          --#{$name}: var(--#{map.get($color, dark)});
        }
      }
    }
  }

  body {
    font-family: fonts.$mainFont;
    background-color: var(--body-bg);
    color: var(--body-text);
  }

  a {
    color: var(--white);
    text-decoration: underline;
    &:hover {
      color: var(--link-hover);
    }
  }

  header {
    margin-bottom: f.rem(16);
  }

  table {
    border: 2px solid var(--primary);
    border-collapse: collapse;
    margin: auto auto f.rem(16);
    width: fit-content;
  }

  th, td {
    border-right: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
  }

  th {
    border: 1px solid var(--white);
    padding: f.rem(12);
    text-align: center;
  }

  td {
    padding: f.rem(8);
    text-align: center;
    white-space: nowrap;
  }
}

h1 {
  text-align: center;
}