@use "../partials/functions" as f;

@layer components {
  .button {
    display: inline-block;
    border-radius: f.rem(16);
    border: none;
    box-shadow: 0 8px 16px 0 rgba(var(--primary), 0.6);
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: f.rem(10) 0;
    padding: f.rem(10) f.rem(16);

    &--primary {
      background-color: var(--primary);
      &:hover {
        background-color: var(--primary-hover);
      }
    }

    &--secondary {
      background-color: var(--secondary);
      color: var(--primary);
      border: f.rem(2) solid var(--primary);
      &:hover {
        background-color: var(--secondary-hover);
      }
    }

    &--tertiary {
      background-color: var(--tertiary);
      color: var(--lightgrey);
      &:hover {
        background-color: var(--tertiary-hover);
      }
    }

    &--danger {
      background-color: var(--danger);
      color: var(--white);
      &:hover {
        background-color: var(--danger-hover);
      }
    }

    &--small {
      padding: f.rem(8) f.rem(12);
      font-size: f.rem(14);
      width: auto;
    }
  }
}