@use "../partials/functions" as f;
@use "../partials/mixins" as m;

@layer components {
  // Empile les éléments verticalement avec un espace et prend seulement la largeur qu'il a besoin
  form {
    display: flex;
    flex-direction: column;
    gap: f.rem(16);
    margin: auto;
    width: fit-content;

    // Empile les éléments verticalement pour mettre label au-dessus
    div {
      display: flex;
      flex-direction: column;
      gap: f.rem(16);
    }

    label {
      text-align: center;
    }

    // Padding inclut dans la largeur totale (box-sizing)
    input[type="text"], input[type="email"], input[type="password"], select {
      @include m.formStyling;
      box-sizing: border-box;
      font-size: 1rem;
    }

    textarea {
      @include m.formStyling;
    }

    // Seulement pour les anchors avec un bouton dedans
    a:has(.button) {
      display: contents;
      text-decoration: underline;
    }

    // Ligne de séparation grise et arrondie
    hr {
      width: 100%;
      border: 2px solid var(--grey);
      border-radius: f.rem(4);
    }
  }

  // Form qui suit directement un form
  form + form {
    margin-top: f.rem(16);
    margin-bottom: f.rem(16);
  }

  // Met éléments du radio sur la même ligne
  .radio {
    flex-direction: row;
    align-items: center;
    margin: auto;
  }
}